beautifulsoup4==4.12.3
lxml==5.1.0
soupsieve==2.5
nltk~=3.8.1
spacy~=3.7.2
numpy~=1.24.3
pandas~=2.0.2
pyinflect~=0.5.1
langdetect~=1.0.9
spellchecker~=0.4
gensim~=4.3.2
scikit-learn~=1.3.1
data~=0.4
gradio~=4.25.0
tensorflow~=2.16.1
keras~=3.1.1
matplotlib~=3.8.0
sentencepiece~=0.1.99